<md-dialog>
    <div layout="row" layout-align="start center" layout-padding class="dialogHeader">
        <h3>{{items.title}}</h3>
    </div>

    <md-content layout="row" layout-wrap class="dialogSize">
        <md-input-container>
            <label>命令编码</label>
            <input type="text" ng-model="element.code" ng-disabled="items.state=='detail'">
        </md-input-container>
        <md-input-container>
            <label>描述</label>
            <input type="text" ng-model="element.description" ng-disabled="items.state=='detail'">
        </md-input-container>
    </md-content>


    <div class="md-actions" layout="row">
        <span flex></span>
        <md-button class="md-raised md-warn md-hue-2" ng-click="cancel()" ng-if="cancel!==undefined">
            取消
        </md-button>
        <md-button class="md-raised md-warn md-hue-2" ng-click="save(element)" ng-if="save!==undefined">
            保存
        </md-button>
        <md-button class="md-raised md-warn md-hue-2" ng-click="confirm()" ng-if="confirm!==undefined">
            确定
        </md-button>
    </div>
</md-dialog>