.appDialogCheck .md-label {
  margin-top: -15px;
  margin-left: 0;
}

.appDialogSelect {
  height: 50px;
  padding: 2px 0 10px
}

.appDialogSelect label {

}

.appDialogUpload {
  height: 30px;
  margin: 10px 0;
}

//------------------------------------------------------------------------------
.appDialogIconY {
  height: 80px;
  margin: 20px 0;
}

.appDialogIconN {
  height: 20px;
  margin: 20px 0;
}

.appDialogImagesY {
  height: 230px;
  margin: 20px 0
}

.appDialogImagesN {
  height: 20px;
  margin: 20px 0
}

.appDialogPkgY {
  height: 50px;
  margin: 20px 0
}

.appDialogPkgN {
  height: 20px;
  margin: 20px 0
}

.appDialogUploadY {
  height: 500px
}

.appDialogUploadN {
  height: 120px
}
