//@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:400,700,700italic,400italic);

.noBackgroundImage {
  background: none;
}

.mainContent {
  margin: 0;
}

//-----------------------------------------------------------------------------------------------md-table---------------
a {
  text-decoration: none;
}

i {
  vertical-align: middle;
  font-size: 24px;
}

.main-fab {
  position: absolute;
  z-index: 20;
  font-size: 30px;
  top: 100px;
  left: 24px;
  transform: scale(.88, .88);
}

.md-breadcrumb {
  padding-left: 88px;
}

.JCLRgrip:first-child {
  left: 105px !important;
  display: none !important;
}

.JColResizer th:first-child {
  width: 105px !important;
}

.md-table {
  min-width: 100%;
  border-collapse: collapse;
}

.md-table tbody tr:hover, .md-table tbody tr:focus {
  // cursor: pointer;
  // background-color: rgba(193, 194, 255, 0.20);
}

.md-table-header {
  border-bottom: 1px solid rgb(230, 230, 230);
  color: rgb(130, 130, 130);
  text-align: left;
  font-size: 0.75em;
  font-weight: 700;
  padding: 6px;
}

.searchColumn {
  padding-bottom: 0;
  width: 100px;
  height: 20px;
}

.searchAll {
  padding-bottom: 0;
  width: 100px;
  height: 20px;
}

.md-table-header a {
  text-decoration: none;
  color: inherit;
}

.md-table-content {
  white-space: nowrap;
  font-size: 0.8em;
  padding: 6px;
  height: 32px;
}

.md-table-td-more {
  white-space: nowrap;
  font-size: 0.8em;
  padding: 0;
  height: 32px;
}

.md-table-thumbs {
  max-width: 104px;
  width: 104px;
  padding: 16px 32px;
}

.md-table-thumbs div {
  overflow: hidden;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-size: cover;
  box-shadow: 0 8px 10px rgba(0, 0, 0, .3);
  -webkit-box-shadow: 0 8px 10px rgba(0, 0, 0, .1);
}

.md-table-footer {
  height: 40px;
  padding-left: 32px;
  padding-right: 32px;
}

.md-table-count-info {
  line-height: 40px;
  font-size: .75em;
}

.md-table-footer-item {
  width: 40px;
  height: 40px;
  vertical-align: middle;
}

.md-table-active-page {
  font-weight: 700;
}

.grey {
  color: grey;
}

.checkbox {
  width: 10px;
}

.checkbox md-checkbox {
  margin: 0;
}

//--------------------------------------------------dialog-----------------------------------------------------
md-dialog md-content {
  border-top: 1px solid rgb(230, 230, 230);
  border-bottom: 1px solid rgb(230, 230, 230);
}

md-dialog div {
  height: 10px;
}

md-input-container.hFilter {
  padding-bottom: 0;
  height: 32px;
}

md-input-container.hFilter {
  padding-bottom: 0;
  height: 30px;
}

.elementHeader {
  margin-bottom: 8px;
  margin-right: 8px;
}

tr.md-table-content-row:nth-child(odd) {
  background-color: rgb(243, 221, 223);
}

#search::-webkit-input-placeholder {
  color: #fffdfd;
}

#search ::-moz-placeholder {
  color: #fffdfd;
}

/* firefox 19+ */
#search :-ms-input-placeholder {
  color: #fffdfd;
}

/* ie */
#search input:-moz-placeholder {
  color: #fffdfd;
}

//-----------------------------
.tableButtonSize {
  width: 60px;
  height: 30px;
  margin-right: 10px;
  font-size: small
}

.tableButtonRight {
  background-color: #fffdfd;
  border: solid 2px #c35a65;
  color: #912c2c;
  padding: 0px 5px;
  margin-right: 5px;
}

