<div layout="row" class="maxHeight">
    <md-sidenav class="site-sidenav md-sidenav-left md-whiteframe-z2" md-component-id="left"
                md-is-locked-open="$mdMedia('gt-sm')" class="maxHeight">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <a ui-sref="." layout="row" flex>
                    MDM
                </a>
            </div>
        </md-toolbar>
        <ul class="skip-links">
            <li class="md-whiteframe-z2">
                <md-button ng-click="focusMainContent($event)" href="#">Skip to content</md-button>
            </li>
        </ul>
        <md-content flex role="navigation" class="sideNav">
            <ul class="docs-menu">
                <li ng-repeat="section in menu.sections" class="parent-list-item"
                    ng-class="{'parentActive' : isSectionSelected(section)}">
                    <!--
                    <h2 class="menu-heading" ng-if="section.type === 'heading'"
                        id="heading_{{ section.name | nospace }}">
                        {{section.name}}
                    </h2>
                    <menu-link section="section" ng-if="section.type === 'link'"></menu-link>
                    -->
                    <menu-link section="section" ng-if="section.state"></menu-link>
                    <menu-toggle section="section" ng-if="section.state === undefined"></menu-toggle>
                    <!--
                    <ul ng-if="section.submenu" class="menu-nested-list">
                        <li ng-repeat="child in section.submenu" ng-class="{'childActive' : isSectionSelected(child)}">
                            <menu-toggle section="child"></menu-toggle>
                        </li>
                    </ul>
                    -->
                </li>
            </ul>
        </md-content>
    </md-sidenav>

    <!--
    <a ui-sref=".user">user</a>
    <a ui-sref=".terminal">terminal</a>
    <a ui-sref=".command">command</a>
    <a ui-sref=".application">application</a>
    <a ui-sref=".strategy">strategy</a>
    <a ui-sref=".record">record</a>
    -->


    <div layout="column" tabindex="-1" role="main" flex>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <button ng-click="openMenu()" class="docs-menu-icon" hide-gt-sm aria-label="Toggle Menu">
                    <md-icon md-svg-src="img/icons/ic_menu_24px.svg"></md-icon>
                </button>
                <span>移动终端管理平台</span>
                <span flex></span>
                <span ng-bind="userName"></span>
                <md-button ng-click="logout()">注销</md-button>
            </div>
        </md-toolbar>
        <md-content ui-view md-scroll-y flex class="md-padding mainContent">
        </md-content>
    </div>
</div>
