<div ng-if="collection.title!=undefined">
    <p style="margin:0;color: rgb(198,111,119)">
        <span>{{collection.title[0]}}</span>
        <span ng-if="collection.title[1]!=undefined">  >  {{collection.title[1]}}</span>
    </p>

    <div style="width:100%;height:1px;margin:5px 0;background-color:rgb(215,214,214);overflow:hidden;">
    </div>
</div>

<md-button ng-click="collection.addItem($event)" ng-if="collection.addItem!==undefined"
           class="md-raised md-warn md-hue-2 tableButtonSize" style="width: 100px">
    添加策略项
</md-button>

<div layout="row">
    <md-button ng-click="collection.add($event)"
               ng-if="collection.add!==undefined"
               class="md-raised md-warn md-hue-2 tableButtonSize">
        添加
    </md-button>
    <md-button ng-click="collection.refresh($event)"
               ng-if="collection.refresh!==undefined"
               class="md-raised md-warn md-hue-2 tableButtonSize">
        刷新
    </md-button>
    <md-button ng-click="collection.sendCommand($event)"
               ng-if="collection.sendCommand!==undefined"
               class="md-raised md-warn md-hue-2 tableButtonSize">
        发命令
    </md-button>
    <md-button ng-click="collection.sendMessage($event)"
               ng-if="collection.sendMessage!==undefined"
               class="md-raised md-warn md-hue-2 tableButtonSize">
        发消息
    </md-button>
    <span flex></span>

    <div ng-if="collection.search!==undefined" layout="row">
        <embed src="/assets/images/icons/9.svg" width="30" height="30" type='image/svg+xml'
               style="background-color: rgb(174,173,173);border:0;border-radius: 3px 0 0 3px"/>
        <input ng-model="search.$" placeholder="请输入关键字" id="search"
               style="padding:0;color:rgb(255,253,253);background-color: rgb(174,173,173);border:0;border-radius:0 3px 3px 0;width: 200px;height: 30px;font-size:small">
    </div>
</div>
<table class="md-table">
    <thead>
    <tr class="md-table-header-row">
        <th ng-if="collection.check" class="md-table-header checkbox">
            <div style="margin-top: -15px">
                <md-checkbox aria-label="checkAll" ng-model="checkAll" ng-change="checkChange(null,checkAll)"
                             ng-init="false" class="md-warn md-hue-2"></md-checkbox>
            </div>
        </th>
        <th class="md-table-header">
            <div layout="column" style="height: 35px">
                <p class="elementHeader" style="margin-bottom: 0">
                    <a href="#" class="ng-binding ng-scope" style="text-decoration: none" tabindex="0">
                        序号
                    </a>
                </p>
            </div>
        </th>
        <th class="md-table-header" ng-repeat='h in collection.header'>
            <div layout="column" style="height: 35px">
                <p class="elementHeader" style="margin-bottom: 0">
                    <a href='#' ng-if='handleSort(h.field)' ng-click='reverse=!reverse;order(h.field,reverse)'>
                        {{h.name}}
                        <!--i ng-show='reverse && h.field == predicate'></i>
                        <i ng-show='!reverse && h.field == predicate'></i-->
                    </a>
                </p>
                <!--span ng-if='!handleSort(h.field)'>{{h.name}}</span-->
                <!--md-input-container flex class="searchColumn">
                    <input ng-model="search[h.field]">
                </md-input-container-->
            </div>
        </th>
        <th class="md-table-header">
            <!--div layout="column" style="height: 80px">
                <div layout="row" style="margin-top: 10px">
                    <md-button ng-click="collection.add($event)" ng-if="collection.add!==undefined">添加</md-button>
                    <md-button ng-click="collection.refresh($event)" ng-if="collection.refresh!==undefined">刷新
                    </md-button>
                    <md-button flex ng-click="collection.sendCommand($event)"
                               ng-if="collection.sendCommand!==undefined">
                        发命令
                    </md-button>
                    <md-button flex ng-click="collection.sendMessage($event)"
                               ng-if="collection.sendMessage!==undefined">
                        发消息
                    </md-button>
                </div>
                <md-input-container flex class="searchAll">
                    <input ng-model="search.$">
                </md-input-container>
            </div-->
        </th>
    </tr>
    </thead>
    <tbody>
    <tr class="md-table-content-row"
        ng-repeat='c in collection.content | filter:search | startFrom:tablePage*collection.count | limitTo: collection.count'>
        <td ng-if="collection.check" class="md-table-content checkbox">
            <div style="margin-top: -5px" ng-style="dialogCheck(collection.title)">
                <md-checkbox aria-label="check" ng-model="c.check" ng-change="checkChange(c)"
                             class="md-warn md-hue-2"></md-checkbox>
            </div>
        </td>
        <td class="md-table-content ng-binding ng-scope" style="padding-left: 10px">
            {{collection.content.indexOf(c)+1}}
        </td>
        <td class="md-table-content" ng-repeat='h in collection.header' ng-class='customClass[h.field]'>
            <!--  {{(h.field.indexOf('date') > 0) ? $filter('date')(c[h.field]) : c[h.field];}}-->
            {{c[h.field]}}
        </td>
        <td class="md-table-td-more">
            <md-button flex ng-click="collection.detail($event,c)" ng-if="collection.detail!==undefined"
                       class='md-raised tableButtonRight' style="color: #912c2c;  background-color: #fffdfd;">
                详情
            </md-button>
            <md-button flex ng-click="collection.edit($event,c)" ng-if="collection.edit!==undefined"
                       class='md-raised tableButtonRight' style="color: #912c2c;  background-color: #fffdfd;">
                修改
            </md-button>
            <md-button flex ng-click="collection.remove($event,c)" ng-if="collection.remove!==undefined"
                       class='md-raised tableButtonRight' style="color: #912c2c;  background-color: #fffdfd;">
                删除
            </md-button>
            <md-button flex ng-click="collection.publish($event,c)" ng-if="collection.publish!==undefined"
                       class='md-raised tableButtonRight' style="color: #912c2c;  background-color: #fffdfd;">
                发布
            </md-button>
        </td>
    </tr>
    </tbody>
</table>

<div class="md-table-footer" layout="row">
    <span flex></span>
    <span ng-show='nbOfPages() > 1'>
        <md-button ng-disabled='tablePage==0' ng-click='tablePage=tablePage-1'
                   aria-label='Previous Page'>
            <i class="ion-chevron-left" style="font-size:16px;"></i>
        </md-button>
        <a href='#' ng-repeat='i in getNumber(nbOfPages()) track by $index'>
            <md-button class=" md-table-footer-item" ng-click='goToPage($index)'>
                <span ng-class="{ 'md-table-active-page': tablePage==$index}"> {{$index+1}}
                </span>
            </md-button>
        </a>
        <md-button ng-disabled='tablePage==nbOfPages()-1'
                   ng-click='tablePage=tablePage+1'
                   aria-label='Next Page'>
            <i class="ion-chevron-right" style="font-size:16px;"></i>
        </md-button>
    </span>
</div>