<md-button ng-class="{'menuIcon':menuIcon()}" class="md-button-toggle" ng-click="toggle()"
           aria-controls="docs-menu-{{section.label | nospace}}"
           flex layout="row" aria-expanded="{{isOpen()}}">
    <span style="background:url({{section.icon}});width: 40px;height: 40px" ng-if="menuIcon()"></span>
    {{section.label}}
    <span aria-hidden="true" class="md-toggle-icon" ng-class="{'toggled' : isOpen()}">

    </span>
    <span class="visually-hidden">
        Toggle {{isOpen()? 'expanded' : 'collapsed'}}
    </span>
</md-button>
<ul ng-show="isOpen()" id="docs-menu-{{section.label | nospace}}" class="menu-toggle-list">
    <li ng-repeat="child in section.submenu">
        <menu-link section="child">

        </menu-link>
    </li>
</ul>
