<md-dialog>
    <div layout="row" layout-align="start center" layout-padding class="dialogHeader">
        <h3>{{items.title}}</h3>
    </div>

    <md-content layout="row" layout-wrap class="dialogSize">
        <p>确认要删除<span>“{{name}}”</span>吗？</p>
    </md-content>


    <div class="md-actions" layout="row">
        <span flex></span>
        <md-button class="md-raised md-warn md-hue-2" ng-click="cancel()" ng-if="cancel!==undefined">
            取消
        </md-button>
        <md-button class="md-raised md-warn md-hue-2" ng-click="confirm()" ng-if="confirm!==undefined">
            确定
        </md-button>
    </div>
</md-dialog>