<div>
    <div ng-if="title!=undefined">
        <p style="margin:0;color: rgb(198,111,119)">
            <span>{{title[0]}}</span>
            <span ng-if="title[1]!=undefined">  >  {{title[1]}}</span>
            <span ng-if="title[2]!=undefined">  >  {{title[2]}}</span>
        </p>

        <div style="width:100%;height:1px;margin:5px 0;background-color:rgb(215,214,214);overflow:hidden;">
        </div>
    </div>

    <md-content layout="row" layout-wrap class="contentMaxHeight">
        <md-input-container ng-if="$state.is('^.strategyGroupPublish')" flex="100">
            <h3>选择策略组发布范围：</h3>
            <md-table collection="Collection"></md-table>
        </md-input-container>
        <md-input-container flex="100">
            <label>策略组名</label>
            <input type="text" required ng-model="element.name"
                   ng-disabled="$state.is('^.strategyGroupDetail')||$state.is('^.strategyGroupEdit')||$state.is('^.strategyGroupPublish')">
        </md-input-container>
        <md-input-container flex="100">
            <label>描述</label>
            <input type="text" ng-model="element.description"
                   ng-disabled="$state.is('^.strategyGroupDetail')||$state.is('^.strategyGroupPublish')">
        </md-input-container>
        <md-input-container flex="100">
            <md-table collection="subCollection"></md-table>
        </md-input-container>
        <div layout="row" layout-wrap flex="100">
            <md-button class="md-raised md-warn md-hue-2 tableButtonSize" ng-click="addItem()"
                       ng-if="addItem!==undefined">
                添加策略
            </md-button>
            <md-input-container ng-if="showItem">
                <label>时间围栏</label>
                <input type="text" ng-model="item.timeInterval"
                       ng-disabled="$state.is('^.strategyGroupDetail')">
            </md-input-container>
            <md-input-container ng-if="showItem">
                <label>地理围栏</label>
                <input type="text" ng-model="item.reginalInterval"
                       ng-disabled="$state.is('^.strategyGroupDetail')">
            </md-input-container>
            <md-input-container ng-if="showItem">
                <label>参数</label>
                <input type="text" ng-model="item.parameters" ng-disabled="$state.is('^.strategyGroupDetail')">
            </md-input-container>
            <div class="appDialogSelect" ng-if="showItem">
                <label>策略</label>
                <md-select ng-model="item.strategy"
                           style="width: 100px;margin-top: 0">
                    <md-option ng-repeat="p in strategy" ng-value="p.iD">{{p.name}}</md-option>
                </md-select>
            </div>
            <div class="appDialogSelect" ng-if="showItem">
                <label>惩罚</label>
                <md-select ng-model="item.punishment"
                           style="width: 100px;margin-top: 0">
                    <md-option ng-repeat="p in punishment" ng-value="p.iD">{{p.name}}</md-option>
                </md-select>
            </div>
            <md-button class="md-raised md-warn md-hue-2 tableButtonSize" ng-click="saveItem()"
                       ng-if="showItem">
                取消编辑
            </md-button>
            <md-button class="md-raised md-warn md-hue-2 tableButtonSize" ng-click="saveItem()"
                       ng-if="showItem">
                保存策略
            </md-button>
        </div>
    </md-content>

    <div style="width:100%;height:1px;margin:5px 0;background-color:rgb(215,214,214);overflow:hidden;">
    </div>
    <div class="md-actions" layout="row">
        <span flex></span>
        <md-button class="md-raised md-warn md-hue-2 tableButtonSize" ng-click="cancel()" ng-if="cancel!==undefined">
            取消
        </md-button>
        <md-button class="md-raised md-warn md-hue-2 tableButtonSize" ng-click="save(element)" ng-if="save!==undefined">
            保存
        </md-button>
        <md-button class="md-raised md-warn md-hue-2 tableButtonSize" ng-click="confirm()" ng-if="confirm!==undefined">
            确定
        </md-button>
        <md-button class="md-raised md-warn md-hue-2 tableButtonSize" ng-click="next(element)" ng-if="next!==undefined">
            下一步
        </md-button>
        <md-button class="md-raised md-warn md-hue-2 tableButtonSize" ng-click="publish(element)"
                   ng-if="publish!==undefined">
            发布
        </md-button>
    </div>
</div>