<md-dialog>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <span>{{items.title}}</span>
        </div>
    </md-toolbar>

    <md-content layout="row" layout-wrap>
        <md-input-container>
            <label>用户名</label>
            <input type="text" ng-model="element.name" ng-disabled="items.state=='detail'">
        </md-input-container>
        <md-input-container>
            <label>手机号</label>
            <input type="text" ng-model="element.phoneNumber" ng-disabled="items.state=='detail'">
        </md-input-container>
        <md-input-container>
            <label>电子邮箱</label>
            <input type="text" ng-model="element.email" ng-disabled="items.state=='detail'">
        </md-input-container>
    </md-content>


    <div class="md-actions" layout="row">
        <span flex></span>
        <md-button ng-click="cancel()" ng-if="cancel!==undefined">
            取消
        </md-button>
        <md-button ng-click="save(element)" ng-if="save!==undefined">
            保存
        </md-button>
        <md-button ng-click="confirm()" ng-if="confirm!==undefined">
            确定
        </md-button>
    </div>
</md-dialog>