@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:400,700,700italic,400italic);

/*
md-content {
  margin-top: 200px;
  background-color: #ffffff;
  /* for IE */
//filter: alpha(opacity=60);
/* CSS3 standard */
// opacity: 0.6;
//}

.backgroundImage {
  background: url("/assets/images/login.jpg") no-repeat fixed;
  background-size: cover;
}

md-content.transparent {
  background: transparent;
}

h1.title {
  font-weight: bolder;
  font-size: 50px;
  text-shadow: 2px 2px 1px #455645;
}
