<div layout="row" layout-align="center center" class="maxHeight" layout-margin layout-fill
     layout-padding>
    <div flex>

        <div layout="row" layout-align="center center" layout-margin layout-fill
             layout-padding>
            <p><img src="/assets/images/logo.png"/></p>
        </div>

        <div layout="row" layout-align="center center" layout-margin layout-fill
             layout-padding>
            <p><img src="/assets/images/title.png"/></p>
        </div>

        <div layout="row" layout-align="center center" layout-margin layout-fill
             layout-padding>
            <div class="bj_into3">
                <ul>
                    <li>
                        <input ng-model="account.userName" type="text" required="true" ng-enter="login()"
                               class="Username" placeholder="用户名">
                    </li>
                    <li>
                        <input ng-model="account.password" type="password" required="true" ng-enter="login()"
                               class="password" placeholder="密码">
                        <span>
                            <a href="#" ng-click="login()"
                               style="text-decoration: none;  font-size: 16px;  float: left;   font-family: Arial, '微软雅黑';">
                                登录
                            </a>
                        </span>
                    </li>
                    <li id="mima" class="mima">
                        <p ng-model="remember" ng-click="switch()"
                           ng-class="{switchY:remember,switchN:!remember}">
                            记住密码
                        </p>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>

