@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:400,700,700italic,400italic);

md-content {
  margin-top: 200px;
  background-color: #ffffff;
  /* for IE */
  filter: alpha(opacity=60);
  /* CSS3 standard */
  opacity: 0.6;
}

.backgroundImage {
  background: url("/assets/images/login.png") no-repeat fixed;
  background-size: 100% 100%;
  -webkit-background-origin: content-box; /* Safari */
  background-origin: content-box;
}

